@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Gloria+Hallelujah&display=swap');
.loading {
    font-weight: 600;
    font-size: 70px;
    margin: 200px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #062452;

}