* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App, p, h1 {
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
}
.App-header{
  background-color: #1a9ba0;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}